.flex-dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #40474D;
    padding: 0 30px;
    color: white;
}

.flex-dashboard header a {
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

.flex-dashboard header a > svg {
    font-size: 20px;
    color: #C65E37;
}