main {
    display: block;
    height: 100%;
    width: calc(100% - 300px);
    background-image: url(../images/cafe-torrado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-content {
    padding: 30px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: auto;
}

main .bg-dashboard {
    background-color: rgba(255, 255, 255, 0.555);
}

main .bg-config {
    background-image: url(../images/configuracao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .bg-report {
    background-image: url(../images/relatorios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main .main-content panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px 0;
}

.panel-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.panel-50 {
    width: 80%;
    margin-bottom: 20px;
}

.panel-config {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 2%;
    background-color: #fff;
}

/*  Scroll personalisado    */
.main-content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #C65E37;
}

.panel-row button {
    width: 100%;
    background: linear-gradient(154deg, rgba(201,49,56,1) 34%, rgba(113,32,11,1) 82%);
    border: none;
    color: #fff;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
    main {
        display: block;
        height: 100%;
        width: 100%;
        background-image: url(../images/cafe-torrado.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
}

