.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

sidebar {
    display: block;
    width: 300px;
    height: 100%;
    color: #fff;
    background-color: #1D2123;
}

sidebar .sidebar-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.flex-dashboard img {
    width: 100px;
    height: 100px;
}

div.menu {
    margin-top: 0px;
}

div.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

div.menu ul li {
    border: none;
    padding: 20px 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.menu ul li:hover {
    background-color: rgb(80, 84, 87);
}

div.menu ul li > svg {
    color: #C65E37;
    font-size: 20px;
    margin-right: 15px;
}

div.menu ul li > a {
    text-decoration: none;
    color: whitesmoke;
}
